@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-gray-900;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold tracking-tight text-gray-900;
    }
}
